@using WelcomePage
@using WelcomePage.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<a href="F:\Yomark project\WelcomePage\WelcomePage\Views\_ViewImports.cshtml">F:\Yomark project\WelcomePage\WelcomePage\Views\_ViewImports.cshtml</a>